.square{
    width: auto;
    height: auto;
    background-color: #f5f5dd;
    align-content: center;
    padding-left: 175px;
    padding-top: 20px;
    padding-bottom: 20px;
    }

.sq1, .sq2, .sq3, .sq4{
    width: 150px;
    height: 150px;
    }

.sq2, .sq3, .sq4{
    margin-top: 10px;
    }

.sq1{
    background-color: rgb(0 0 0 / 100%);
    }

.sq2{
    background-color: rgb(0 0 0 / 75%);
    }

.sq3{
    background-color: rgb(0 0 0 / 50%);
    }

.sq4{
    background-color: rgb(0 0 0 / 25%);
    }